@font-face {
 src: url(fonts/Cyberverse.otf);
 font-family: cyber;
}

html {
    background-color:rgb(10,10,10);
}

.clock-face {
    font-family: cyber;
    color: rgb(10, 206, 255);
    font-size: 50px;

}